<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schratzenstaller.wilcilene.mynewmovieinfo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher_tmdb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tmdb_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNewMovieInfo">
        <activity android:name=".view.MovieDetailActivity">

        </activity>
        <activity android:name=".view.MovieHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>